img {
  width: initial;
  height: initial; }

.article-picture {
  width: 300px;
  margin: 10px; }
  .article-picture img {
    width: inherit; }

img.grid-picture, img.participant-picture, img.grid-picture, figure.close-picture > img {
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease; }

.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
  -webkit-transition: opacity .6s ease;
  /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden;
  /* Fix for transition flickering */ }
  .grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%); }

.image-gallery > div {
  display: inline-block; }
  .image-gallery > div span {
    display: block;
    text-align: center; }

img.participant-picture, img.grid-picture {
  height: 80px;
  margin: 5px; }

img.grid-picture {
  height: 150px; }

.picture-placeholder.cat {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/2/22/Turkish_Van_Cat.jpg"); }

.nav > li > a {
  padding: 10px; }

.author-section {
  max-width: initial;
  display: inline-block; }

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: table-cell;
  overflow: hidden; }
  .avatar .multi-avatar {
    height: 100%;
    width: 50%;
    float: left; }
    .avatar .multi-avatar:last-child {
      background-position-x: 27.5px; }
  .avatar img {
    width: 55px;
    height: 55px; }

.avatar.me {
  background-image: url("https://pbs.twimg.com/profile_images/3535679160/59ec96f521d8170391193beb9560d95f.jpeg"); }

div.author-name {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px; }

#header-img {
  background-image: url("../pictures/header-binary.png");
  background-size: 20%;
  max-width: 100%;
  height: 480px;
  text-align: center; }
  #header-img img {
    max-height: 100%;
    max-width: 100%;
    padding: 50px; }

.back-to-top {
  margin-top: 50px; }

.affix {
  margin-top: 20px;
  top: 0px; }

.affix-top,
.affix,
.affix-bottom {
  margin-top: 10px;
  margin-left: 20px;
  float: left !important;
  max-width: 200px; }

@media (max-width: 1156px) {
  .affix,
  .affix-top,
  .affix-bottom {
    display: none !important; } }
.nav li.active {
  -webkit-transition: border-left 0.2s ease-in;
  transition: border-left 0.2s ease-in;
  background-size: 10px 10px;
  border-left: 10px solid lightblue; }

#main-content {
  max-width: 720px;
  margin: 0 auto;
  position: relative; }

p {
  text-indent: 1.5em;
  word-wrap: break-word; }

article {
  margin-bottom: 40px;
  text-align: center; }
  article p {
    text-align: justify; }

span#author-name, span.author-name {
  color: #357bb9; }

footer {
  text-align: center;
  font-size: 10px;
  margin-top: 30px; }

.carousel {
  background-color: lightgray; }

.carousel-image {
  margin: 0 auto; }

iframe.embedded-youtube-vid {
  width: 100%;
  height: 405px;
  margin: 20px auto; }

div#announcements-section {
  max-width: 740px;
  margin: 0 auto; }
  div#announcements-section div.announcements-section-hdr {
    text-align: center; }
  div#announcements-section div#all-announcements {
    text-align: center; }
    div#announcements-section div#all-announcements div.announcements-row {
      margin-bottom: 10px; }
      div#announcements-section div#all-announcements div.announcements-row div.announcement-cell {
        text-align: center;
        display: inline-block;
        padding-left: 10px;
        width: 100%;
        overflow-wrap: break-word; }
        div#announcements-section div#all-announcements div.announcements-row div.announcement-cell:first-child {
          padding-left: 0px; }
        div#announcements-section div#all-announcements div.announcements-row div.announcement-cell #recipe {
          text-align: justify; }
          div#announcements-section div#all-announcements div.announcements-row div.announcement-cell #recipe #recipe-picture {
            padding: 20px; }
          div#announcements-section div#all-announcements div.announcements-row div.announcement-cell #recipe #recipe-description, div#announcements-section div#all-announcements div.announcements-row div.announcement-cell #recipe #recipe-picture {
            text-align: center; }
        div#announcements-section div#all-announcements div.announcements-row div.announcement-cell div.announcement-content {
          box-shadow: 1px 1px 5px #888888;
          padding: 10px;
          overflow: hidden; }
          div#announcements-section div#all-announcements div.announcements-row div.announcement-cell div.announcement-content div.content-header {
            text-align: center; }
          div#announcements-section div#all-announcements div.announcements-row div.announcement-cell div.announcement-content div.content-body {
            padding: 5px; }
            div#announcements-section div#all-announcements div.announcements-row div.announcement-cell div.announcement-content div.content-body ul {
              padding-left: 15px; }
          div#announcements-section div#all-announcements div.announcements-row div.announcement-cell div.announcement-content figure.close-picture > img {
            display: inline;
            width: 90px;
            height: 90px;
            float: left; }

#bryan-ncaa-bracket {
  margin: 0 auto; }
  #bryan-ncaa-bracket iframe {
    width: 100%;
    height: 800px; }

#volunteer-section {
  text-align: center; }
  #volunteer-section .volunteers .volunteer {
    text-align: center;
    display: inline-block; }
    #volunteer-section .volunteers .volunteer span {
      display: block; }
    #volunteer-section .volunteers .volunteer div.avatar {
      display: block;
      margin: auto; }

img[src="pictures/blank.gif"] {
  width: 1px;
  height: 1px;
  opacity: 0; }

a[data-toggle='modal'] {
  text-decoration: none; }
  a[data-toggle='modal']:hover, a[data-toggle='modal']:focus {
    text-decoration: none; }

.tint {
  position: relative;
  float: left;
  cursor: pointer; }

.tooltip {
  white-space: pre; }

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none; }

.tint:hover:before {
  background: rgba(0, 0, 0, 0.5);
  -moz-transition: background 0.3s linear;
  -webkit-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear; }

div.card {
  background: #FFF;
  box-shadow: 1px 1px 5px #888888;
  margin: 15px;
  overflow: hidden;
  text-align: justify; }
  div.card:hover > .details {
    max-height: 200px;
    padding: 20px; }
  div.card div.header-image {
    background-size: cover;
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-align: center; }
    div.card div.header-image img {
      width: 100%;
      margin: -150px 0 0 0; }
    div.card div.header-image span.title {
      color: blue;
      font-weight: bold;
      display: table-cell;
      vertical-align: middle;
      font-size: 3em;
      text-shadow: 2px 2px #000000; }
  div.card div.details {
    text-align: center;
    max-height: 0;
    overflow: hidden;
    padding: 0px;
    /* Set our transitions up. */
    transition: max-height 0.3s, padding 0.45s; }
    div.card div.details span {
      display: block; }

#guess-who-facts {
  text-align: left; }

.new-employee-card-row .card.new-employee-card {
  width: 44%;
  display: inline-block;
  vertical-align: top; }
  .new-employee-card-row .card.new-employee-card div.header-img video {
    width: 100%; }
  .new-employee-card-row .card.new-employee-card .facts {
    padding: 10px 20px; }
    .new-employee-card-row .card.new-employee-card .facts span {
      display: block; }
