<% lineno_for_img = nil if lineno_for_img.nil? %>
<% direction = "left" if direction.nil? %>
<% f = (File.open("articles/#{article_name}", "rb")) %>
<% featured_picture = Dir["pictures/#{article_name}/featured.jpg","pictures/#{article_name}/featured.png"].first %>
<% f.each do |line| %>
<% unless lineno_for_img.nil? %>
  <% if f.lineno == lineno_for_img %>
  <div class="pull-<%=direction%> article-picture">
    <img src="<%= featured_picture %>">
  </div>
  <% end %>
<% end %>
<p><%= line %></p>
<% end %>
