<div id="comic-section">
  <h1>Comics</h1>
  <% Dir["pictures/comics/*"].each do |comic_file| %>
  <div class="card">
    <% if comic_file.include? "xkcd" %>
    <div class="comic" data-original-title="This is how
    I explain computer
    problems to my cat.
    My cat usually seems
    happier than me." data-toggle="tooltip" data-placement="right">
    <% else %>
    <div class="comic">
    <% end %>
      <img src="pictures/blank.gif" data-echo="<%= comic_file %>">
    </div>
  </div>
  <% end %>
</div>
