<div class="card">
  <div class="header-image">
    <img src data-echo="pictures/guess_who/logo.jpg" style="margin: -210px;">
  </div>
  <div class="details">
    <span>The link to the guess who is hidden somewhere in an article on the page.  Your job is to find it!</span>
  </div>
</div>
<div class="modal fade" id="guess-who-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Guess Who</h4>
      </div>
      <div class="modal-body">
        <div>
          <img src="pictures/blank.gif" data-echo="pictures/guess_who/picture.jpg" data-echo-wait>
        </div>
        <div id="guess-who-facts">
          <h4>Facts</h4>
          <ul>
            <li>Played soccer growing up</li>
            <li>Is an only child</li>
            <li>She can play the piano</li>
            <li>Both sides of her family are from New Jersey</li>
            <li>Both her parents are therapists</li>
            <li>Born in Fayetteville, NC</li>
            <li>Used to work at an animal hospital</li>
          </ul>
        </div>
        <div>
          <span>Mail your answer to: <a href="mailto:RTNewsletter@orasi.com?subject=Guess Who Answer">Rural Reader Team</a></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
