<div id="gso-local-events">
  <h2>Greensboro Local Events</h2>
  <div class="card">
    <div class="header-image">
      <img src data-echo="pictures/announcements/local-events/greensboro/grasshoppers.gif">
    </div>
    <div class="details">
      <span>Greensboro Grasshoppers season has started:</span>
      <span><a href="http://www.milb.com/documents/9/8/4/61594984/2014_Schedule_Final_z8l4anpp.pdf">http://www.milb.com/documents/9/8/4/61594984/2014_Schedule_Final_z8l4anpp.pdf</a></span>
    </div>
  </div>
  <div class="card">
    <div class="header-image">
      <img src data-echo="pictures/announcements/local-events/greensboro/idiot_box.jpg">
    </div>
    <div class="details">
      <span>Every Friday at 8:00 p.m. The Idiot Box presents "No Nonsense" Comedy. No-Nonsense is a stand-up comedy showcase featuring the best comedians in North Carolina.</span>
      <span>Buy tickets: <a href="https://ibcomedy.yapsody.com/">https://ibcomedy.yapsody.com/</a></span>
    </div>
  </div>
  <div class="card">
    <div class="header-image">
      <img src data-echo="pictures/announcements/local-events/greensboro/brother_wolf.jpg" style="margin: -75px;">
    </div>
    <div class="details">
      <span>BROTHER WOLF at the triad stage May 6 - 25, 2014</span>
      <span><a href="http://triadstage.org/series/158/brother-wolf">http://triadstage.org/series/158/brother-wolf</a></span>
    </div>
  </div>
  <div class="card">
    <div class="header-image">
      <img src data-echo="pictures/announcements/local-events/greensboro/chuckapalooza.jpeg" style="margin: -75px;">
    </div>
    <div class="details">
      <span>Chuckapalooza 2014: An Outdoor Summer Music Festival  June 21 and June 22</span>
      <span><a href="http://events.triangle.com/greensboro_nc/events/show/369650205-chuckapalooza-2014-an-outdoor-summer-music-festival">http://events.triangle.com/greensboro_nc/events/show/369650205-chuckapalooza-2014-an-outdoor-summer-music-festival</a></span>
    </div>
  </div>
</div>
<div id="atl-local-events">
  <h2>Atlanta Local Events</h2>
  <div class="card">
    <div class="header-image">
      <img src data-echo="pictures/announcements/local-events/atlanta/concert.jpg" style="margin: -1000px;">
    </div>
    <div class="details">
      <span>Florida Georgia Line, Eric Clapton, Lady Gaga, Katy Perry, Morrissey, Luke Bryan, etc. in concert</span>
      <span><a href="http://concertful.com/concerts/united-states/ga/atlanta">http://concertful.com/concerts/united-states/ga/atlanta</a></span>
    </div>
  </div>
  <div class="card">
    <div class="header-image">
      <img src data-echo="pictures/announcements/local-events/atlanta/jazz_fest.jpg">
    </div>
    <div class="details">
      <span>37th annual Atlanta Jazz Fest – May 23-25 - Piedmont Park (3 stages – main, international and local)</span>
      <span><a href="https://www.facebook.com/atlantajazzfestival">https://www.facebook.com/atlantajazzfestival</a></span>
    </div>
  </div>
  <div class="card">
    <div class="header-image">
      <img src data-echo="pictures/announcements/local-events/atlanta/food_wine.jpg" style="margin: -280px;">
    </div>
    <div class="details">
      <span>Atlanta Food & Wine Festival – May 29-June 1 – Midtown</span>
      <span><a href="http://atlfoodandwinefestival.com/">http://atlfoodandwinefestival.com/</a></span>
    </div>
  </div>
  <div class="card">
    <div class="header-image">
      <img src data-echo="pictures/announcements/local-events/atlanta/turner_field.jpg">
    </div>
    <div class="details">
      <span>Braves Baseball</span>
      <span><a href="http://atlanta.braves.mlb.com">http://atlanta.braves.mlb.com</a></span>
    </div>
  </div>
  <div class="card">
    <div class="header-image">
      <img src data-echo="pictures/announcements/local-events/atlanta/atl_cycling.png">
    </div>
    <div class="details">
      <span>Atlanta Cycling Festival – June 7-14</span>
      <span><a href="http://www.atlantacyclingfestival.com/">http://www.atlantacyclingfestival.com/</a></span>
    </div>
  </div>
  <div class="card">
    <div class="header-image">
      <img src data-echo="pictures/announcements/local-events/atlanta/peachtree.jpg" style="margin: -290px;">
    </div>
    <div class="details">
      <span>Peachtree Road Race – July 4</span>
      <span><a href="http://www.peachtreeroadrace.org/">http://www.peachtreeroadrace.org/</a></span>
    </div>
  </div>
  <div class="card">
    <div class="header-image">
      <img src data-echo="pictures/announcements/local-events/atlanta/ffcelebration.ashx">
    </div>
    <div class="details">
      <span>Fantastic Fourth Celebration – Stone Mountain Park – July 3-5</span>
      <span><a href="http://www.stonemountainpark.com/">http://www.stonemountainpark.com/</a></span>
    </div>
  </div>
</div>
