<div id="gso-local-events">
  <h2>Greensboro Local Events</h2>
  <div class="card">
    <div class="header-image">
      <img src data-echo="http://mlblogsburrilltalksbaseball.files.wordpress.com/2013/03/grasshoppers.gif">
    </div>
    <div class="details">
      <span>Greensboro Grasshoppers season has started:</span>
      <span><a href="http://www.milb.com/documents/9/8/4/61594984/2014_Schedule_Final_z8l4anpp.pdf">http://www.milb.com/documents/9/8/4/61594984/2014_Schedule_Final_z8l4anpp.pdf</a></span>
    </div>
  </div>
</div>
<div id="atl-local-events">
  <h2>Atlanta Local Events</h2>
  <div class="card">
    <div class="header-image">
      <img src data-echo="http://targetaudiencemagazine.com/wp-content/uploads/2013/05/Atlanta-Jazz-Festival-Color-Logo1-1024x407.jpg">
    </div>
    <div class="details">
      <span>Every Friday at 8:00 p.m.</span>
      <span>The Idiot Box presents "No Nonsense" Comedy.</span>
      <span>Well you can't really do you're breaking right now.  We can do it.  What else?</span>
    </div>
  </div>
  <div class="card">
    <div class="header-image">
      <img src data-echo="http://upload.wikimedia.org/wikipedia/commons/1/1f/Turner_Field_2013.jpg">
    </div>
    <div class="details">
      <span>Every Friday at 8:00 p.m.</span>
      <span>The Idiot Box presents "No Nonsense" Comedy.</span>
      <span>Well you can't really do you're breaking right now.  We can do it.  What else?</span>
    </div>
  </div>
</div>
