<div id="new-employee-cards">
  <div class="new-employee-card-row">
    <div class="card new-employee-card">
      <div class="header-img">
        <video autoplay loop>
          <source src data-echo="pictures/videos/caleb_brough.webm" type="video/webm" />
        </video>
      </div>
      <div class="facts">
        <h4>Caleb Brough</h4>
        <span>UNCG - Computer Science</span>
        <span>He likes cooking, playing soccer, trail running and drawing.</span>
      </div>
    </div>
    <div class="card new-employee-card">
      <div class="header-img">
        <video autoplay loop>
          <source src data-echo="pictures/videos/david_quach.webm" type="video/webm" />
        </video>
      </div>
      <div class="facts">
        <h4>David Quach</h4>
        <span>Mechanical Engineering Degree at the University of Texas at Arlington</span>
        <span>He played electric guitar with his friends.</span>
      </div>
    </div>
  </div>
  <div class="new-employee-card-row">
    <div class="card new-employee-card">
      <div class="header-img">
        <video autoplay loop>
          <source src data-echo="pictures/videos/jeff_dudelston.webm" type="video/webm" />
        </video>
      </div>
      <div class="facts">
        <h4>Jeff Dudelston</h4>
        <span>University of Alabama - B.S. Mechanical Engineering, N.C. State U. - Computer Programming Cert.</span>
        <span>Working on M.S. in Computer Eng. at State.</span>
        <span>He enjoys spending time with wife and 1 y.o. daughter, mtn. and road biking, hiking, and fly fishing.</span>
      </div>
    </div>
    <div class="card new-employee-card">
      <div class="header-img">
        <video autoplay loop>
          <source src data-echo="pictures/videos/john_doll.webm" type="video/webm" />
        </video>
      </div>
      <div class="facts">
        <h4>John Doll</h4>
        <span>Bachelor’s in Physics from UNCG. Pursuing a Master’s in Computer Science from UIS.</span>
        <span>The city I was born in had free-roaming zebra and giraffe.</span>
        <span>I own over 700 video games even though I don’t actually play games much.</span>
      </div>
    </div>
  <div class="new-employee-card-row">
    <div class="card new-employee-card">
      <div class="header-img">
        <video autoplay loop>
          <source src data-echo="pictures/videos/kevin_munro.webm" type="video/webm" />
        </video>
      </div>
      <div class="facts">
        <h4>Kevin Munro</h4>
        <span>NC State – BS in Computer Science</span>
        <span>He enjoys photography, soccer, and trying to come up with fun facts.</span>
      </div>
    </div>
    <div class="card new-employee-card">
      <div class="header-img">
        <video autoplay loop>
          <source src data-echo="pictures/videos/john.webm" type="video/webm" />
        </video>
      </div>
      <div class="facts">
        <h4>John Martin</h4>
        <span>Extremely friendly</span>
        <span>Enjoys waving at friends and strangers alike.</span>
      </div>
    </div>
  </div>
</div>
